:root {
  --std-w: 900px;
  /*standard width*/
}

body {

  /* background */
  background-color: rgb(19, 72, 170);
  background-image: url('');

  /* text */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
  text-align: center;

  /* padding/margins */
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;

  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;

}

div {
  background-color: rgba(255, 255, 255, 0.813);
  width: var(--std-w);
  border: 15px;
  padding: 50px;
  margin: auto;
}

a {
  color: inherit
}

a:visited {
  color: inherit
}

button {
  background-color: white;
  border: 0.5rem outset red;
  border-radius: 40px;
  color: #474747;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  padding: 15px 32px;
  cursor: pointer;
  /* GET RID OF THE DUMB UNDERLINESSS*/
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: cornflowerblue;
}


#footer-content {
  background-color: cornflowerblue;
  color: white;
  width: auto;
}


/* Part 1: Navbar */
/* General style rule set for all items in ul */
.navbar ul {
  list-style: none;
  background-color: #690909;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* Style rule set for individual li */
.navbar ul li {
  float: left;
  display: table-cell;
}

/* Style rule set for individual li link */
.navbar ul li a {
  font-family: Arial;
  font-size: 30px;
  text-decoration: none;
  display: table-cell;
  padding: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

/* Style rule set for hovered link */
.navbar ul li a:hover {
  background-color: #430e0e;
}

/*.active {
  background-color: #cb3b3b;
  color: black;
}

/* Part 2: Flexbox */
/* General style rule set for flex container */
.flex-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Style rules for flex-item 1 */
.flex-item:nth-of-type(1) {}

/* Style rules for flex-item 2 */
.flex-item:nth-of-type(2) {}

/* Style rules for flex-item 3 */
.flex-item:nth-of-type(3) {}

/* Style set for all flex-items */
.flex-item {
  background: white;
  color: black;
  font-weight: bold;
  text-align: center;
}